.container {
  width: 900px;
  box-shadow: 5px 5px 5px #00000055;

  margin: 30px auto 0 auto;
  padding: 0 30px 30px 30px;

  background-color: white;
  border: 1px solid #aaaaaa;
  border-radius: 10px;
}
