/* You can add global styles to this file, and also import other style files */

body {
  font-family: Arial, sans-serif;
  font-size: 14px;

  background-color: #24456a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, sans-serif;
}

h1 {
  font-weight: 500;
}

h2 {
  font-size: 18px;

  font-weight: 400;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
